extends base

block styles
  link(rel="stylesheet", href="/css/challenges.css")

block content
  // 🔹 TOP BAR
  .top-bar
    if user.userType === "user"
      a.dashboard-btn(href='/dashboard') Dashboard
    if user.userType === "coach"
      a.dashboard-btn(href='/coachDashboard') Dashboard
    if user.userType === "admin"
      a.dashboard-btn(href='/adminDashboard') Dashboard
    a.back-btn(href='javascript:history.back()') Back

  h1 #{title}
  h2 #{user.username}

  if user.pfpUrl
    img.profile-pic(src=user.pfpUrl alt="Profile Picture")
  else
    img.profile-pic(src="/img/default-user.png" alt="Default Profile")
  if user.userType==="coach"
    a.create-challenge(href='/createChallenge') Create Challenge

  if challenges.length === 0
    p No challenges available.
  else
    each challenge in challenges
      .challenge-card
        h2= challenge.name
        p Starts: #{challenge.startTime.toDateString()}
        p Ends: #{challenge.endTime.toDateString()}
        p Participants: #{challenge.participants.length}

        if challenge.participants.length
          .participants-row
            each p in challenge.participants
              .participant
                if p.pfpUrl
                  img(src=p.pfpUrl alt=p.username)
                else
                  img(src="/img/default-user.png")
                span= p.username

        - const alreadyJoined = challenge.participants.some(p => p._id.toString() === user._id.toString())

        if user.userType === 'user'
          if alreadyJoined
            p.join-status You already joined this challenge
          else
            button.join-btn(data-join-code=challenge.joinCode) Join Challenge

        if alreadyJoined
          button.start-btn(data-challenge-id=challenge._id) Start Challenge

        button.leaderboard-btn(data-challenge-id=challenge._id) View Leaderboard

        if user.userType === 'coach'
          a.review-link(href=`/reviewSubmissions/${challenge._id}`) Review Submissions

        .leaderboard-container(id=`leaderboard-${challenge._id}` style="display:none; margin-top:10px;")

        if challenge.exerciseDetails && challenge.exerciseDetails.length
          h3 Exercises in this challenge:
          each exercise in challenge.exerciseDetails
            .exercise-card
              h4= exercise.name
              p Target: #{exercise.target}
              if exercise.gifURL
                img.exercise-gif(src=exercise.gifURL alt=exercise.name)
              if exercise.instructions && exercise.instructions.length
                ul
                  each step in exercise.instructions
                    li= step

  p#joinMessage

  block scripts
    script(src="/js/challenges.js")
