extends ../base

block styles
  link(rel="stylesheet" href="/css/createChallenge.css")

block content
  // =========================
  // BACK BUTTON
  // =========================
  .back-btn-container
    a.back-btn(href="javascript:history.back()")  Back

  h1 #{title}
  h2 #{user.username}

  if user.pfpUrl
    img.profile-pic(src=user.pfpUrl alt="Profile Picture")
  else
    img.profile-pic(src="/img/default-user.png" alt="Default Profile")

  if exercises.length === 0
    p No exercises available.
  else
    form#createChallengeForm
      // =====================
      // Challenge Info
      // =====================
      label(for="name") Challenge Name
      input(type="text" name="name" id="name" required placeholder="Enter challenge name")

      br
      br

      label(for="startTime") Start Time
      input(type="datetime-local" name="startTime" id="startTime" required)

      br
      br

      label(for="endTime") End Time
      input(type="datetime-local" name="endTime" id="endTime" required)

      hr

      each exercise in exercises
        .exercise-card
          label
            input(type="checkbox" name="exerciseIds" value=exercise.exerciseId)
            h3= exercise.name
            p Target: #{exercise.target}

            if exercise.gifURL
              img.exercise-gif(src=exercise.gifURL alt=exercise.name)

            if exercise.instructions && exercise.instructions.length
              h4 Instructions:
              ul
                each step in exercise.instructions
                  li= step

      button(type="submit") Create Challenge
      p.form-message#formMessage

block scripts
  script(src='/js/createChallenge.js')
